<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../styles.css">
    <!-- Favicon -->
    <link rel="icon" type="image/svg" href="./logos/favicon.svg">
    <title>Main</title>
</head>
<body>
 <section class="main-container">
        <div class="cards-container">
            
            <div class="product-card">
                <img src="https://luegopagocdn.azureedge.net/luegopago-uploads/compressed/11IPHONE-4.webp" alt="Laptop">
                <div class="product-info">
                    <div>
                        <p>$ 15.000</p>
                        <p>Forro</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/788946/pexels-photo-788946.jpeg" alt="Headphones">
                <div class="product-info">
                    <div>
                        <p>$ 45.000</p>
                        <p>Headphones</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://exitocol.vtexassets.com/arquivos/ids/24287006/mouse-ergonomico-vertical-inalambrico-24g-recargable-usb.jpg?v=638604580097700000" alt="Smartphone">
                <div class="product-info">
                    <div>
                        <p>$ 85.000</p>
                        <p>Mouse</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/3945683/pexels-photo-3945683.jpeg" alt="Camera">
                <div class="product-info">
                    <div>
                        <p>$ 150.000</p>
                        <p>control videojuegos</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg" alt="Watch">
                <div class="product-info">
                    <div>
                        <p>$ 650.000</p>
                        <p>Camara</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/279906/pexels-photo-279906.jpeg" alt="Tablet">
                <div class="product-info">
                    <div>
                        <p>$ 95.000</p>
                        <p>Lente</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg" alt="Keyboard">
                <div class="product-info">
                    <div>
                        <p>$ 3.500.000</p>
                        <p>Computadora</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/2115257/pexels-photo-2115257.jpeg" alt="Mouse">
                <div class="product-info">
                    <div>
                        <p>$ 25.000</p>
                        <p>Teclado</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/47261/pexels-photo-47261.jpeg" alt="Monitor">
                <div class="product-info">
                    <div>
                        <p>$ 780.000</p>
                        <p>Ceular</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1649771/pexels-photo-1649771.jpeg" alt="Speaker">
                <div class="product-info">
                    <div>
                        <p>$ 55.000</p>
                        <p>Audifonos</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://images.pexels.com/photos/1334597/pexels-photo-1334597.jpeg" alt="Microphone">
                <div class="product-info">
                    <div>
                        <p>$ 400.000</p>
                        <p>Tablet</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

            <div class="product-card">
                <img src="https://mobomx.vtexassets.com/arquivos/ids/200772-800-auto?v=638870683210800000&width=800&height=auto&aspect=true" alt="Charger">
                <div class="product-info">
                    <div>
                        <p>$ 30.000</p>
                        <p>Cargador</p>
                    </div>
                    <figure>
                        <img src="../icons/bt_add_to_cart.svg" alt="">
                    </figure>
                </div>
            </div>

        </div>
    </section>
</body>
</html>